In [1]:
! ls *.csv

cloud_zealots.csv

In [3]:
! sed '/^[[:space:]]*$/d' < cloud_zealots.csv >cloud_zealots1.csv

In [4]:
! cat cloud_zealots1.csv

Amador, Jacob D
Anthony, Michelle (Contractor) L
Arab, Saeed
Austin, Clay (Contractor) G
Ballu, Anudeep (Contractor)
Barnes, Christopher (Contractor)
Benedict, Trenton D
Beverly, Sean D
Beynon, Donelle C
Bhattarai, Krishna (Contractor) P
Boiko, Olena
Bouchard, Michelle (Contractor)
Bourget, Paul (Contractor) F
Braa, Pamela (Contractor) MOrganizer
Briden, Jeffrey (Contractor) A
Bunde, Brett (Contractor)
Butzer, Tony (Contractor)
Callahan, Karin (Contractor) E
Case, Adam (Contractor)
Casey, Jacob (Contractor) G
Chow Lin, Wai Hang
Christianson, Austin T
Connot, Joel (Contractor)
Connot, Peggy (Contractor) L
Dahal, Devendra (Contractor)
Danielson, Patrick (Contractor)
Davis, Brian (Contractor) N
Degaga, Erica J
Deis, Julia (Contractor) A
Dittmeier, Ray (Contractor)
Dockter, Daryn (Contractor) J
Dornbierer, Jordan (Contractor) M
Doucette, Peter J
Drake, Jason D
Fleck, Luke R
Friedrichs, MacKenzie (Contractor) O
Friesz, Aaron (Contractor) M
Granneman, Brian (Contractor) J
Griebel, Audra J
Guest
Hartpence, Anya (Contractor)
Haselhoff, Marcus G
Healey, Nathan C
Hemphill, Caleb (Contractor) S
Hess, Jeffrey (Contractor) T
Hill, David (Contractor) V
Holen, Cheryl (Contractor) L
Horton, Josephine (Contractor) A
Howard, Danny (Contractor)
Hussain, Reza (Contractor) A
Jaton, Douglas (Contractor)
Jenkerson, Calli (Contractor)
Jeno, Drake (Contractor) A
Kagone, Stefanie (Contractor)
Kale, Veeranjaneyulu
Katrenak, Adam C
Khand, Kul Bikram
Kreber, Kimberly J
Krehbiel, Cole (Contractor) P
Kreilick, Heather (Contractor)
La Puma, Inga P
LaVergne, John (Contractor) G
Lawson, Jane M
Lissfelt, Deborah (Contractor)
Lundberg, Brenda (Contractor)
Mainali, Pukar (Contractor)
Mcelhone, Maxwell T
Megard, Logan J
Meyer, Debbie (Contractor)
Midekisa, Alemayehu A
Moe, Kevin (Contractor) L
Moody, Matthew M
Mueller, Chase W
Munger, Samuel L
Napoli, James (Contractor) M
Natharius, Jeffrey (Contractor) A
Oimoen, Michael (Contractor) J
Opoku, Emmanuel
Owen, Linda (Contractor)
Parajuli, Sujan
Parrish, Gabriel E
Pastick, Neal (Contractor) J
Pengra, Bruce (Contractor)
Platson, Melisa L
Porter, Lucas (Contractor) J
Propios, Sofronio (Contractor) C
Reker, Ryan (Contractor)
Robison, Charles J
Rouze, Gregory S
Savoy, Jacob H
Scaramuzza, Pat (Contractor)
Schauer, Matthew (Contractor) P
Schmidt, Gail (Contractor) L
Schoen, Candi (Contractor)
Shogib, Md Rakibul Islam
Shrestha, Dinesh
Smail, Tobin (Contractor)
Smith, Kelcy (Contractor) L
Sneve, Roger (Contractor)
Soluk, Eva L
Sreepathi, Prashanth
Sun, Minxuan
Sunne, Randall (Contractor) H
Taylor, Janis (Contractor)
Tolk, Brian (Contractor) L
Van Batavia, Cory (Contractor)
Wegner, Melissa (Contractor)
Wellington, Danika F
Wika, Steve (Contractor)
Wilson, Holly J
Worstell, Bruce (Contractor) B
Young, Claudia (Contractor)
Zelenak, Daniel (Contractor) J
morton, Jonathan (Contractor) R

In [15]:
import pandas as pd
df = pd.read_csv('cloud_zealots1.csv', names=["lastname","firstname"])

In [16]:
df.head()

  lastname                 firstname
0   Amador                   Jacob D
1  Anthony   Michelle (Contractor) L
2     Arab                     Saeed
3   Austin       Clay (Contractor) G
4    Ballu      Anudeep (Contractor)

In [17]:
df['zealot_score'] = 'null'

In [18]:
df

     lastname                 firstname zealot_score
0      Amador                   Jacob D         null
1     Anthony   Michelle (Contractor) L         null
2        Arab                     Saeed         null
3      Austin       Clay (Contractor) G         null
4       Ballu      Anudeep (Contractor)         null
..        ...                       ...          ...
109    Wilson                   Holly J         null
110  Worstell      Bruce (Contractor) B         null
111     Young      Claudia (Contractor)         null
112   Zelenak     Daniel (Contractor) J         null
113    morton   Jonathan (Contractor) R         null

[114 rows x 3 columns]

In [19]:
df['engagement_level'] = 'null'

In [20]:
df

     lastname                 firstname zealot_score engagement_level
0      Amador                   Jacob D         null             null
1     Anthony   Michelle (Contractor) L         null             null
2        Arab                     Saeed         null             null
3      Austin       Clay (Contractor) G         null             null
4       Ballu      Anudeep (Contractor)         null             null
..        ...                       ...          ...              ...
109    Wilson                   Holly J         null             null
110  Worstell      Bruce (Contractor) B         null             null
111     Young      Claudia (Contractor)         null             null
112   Zelenak     Daniel (Contractor) J         null             null
113    morton   Jonathan (Contractor) R         null             null

[114 rows x 4 columns]

In [21]:
df.to_csv('zealot_wip.csv')

In [22]:
! ls; cat zealot_wip.csv

00-geojson-viewer-panel.ipynb
00-sentinel-klm-study.ipynb
10-display-thumbnails-jpg-maine-with-sentinel.ipynb
10-less-clouds-display-thumbnails-jpg-maine-with-sentinel.ipynb
11-display-thumbnails-jpg-mexico-with-sentinel.ipynb
20-sat-search-explore.ipynb
21-sentinel-rgb-fun-and-clipping.ipynb
99-yaml-example.ipynb
AOI
Untitled.ipynb
Untitled1.ipynb
class_week10.yml
cloud_zealots.csv
cloud_zealots1.csv
gz_2010_us_040_00_500k.json
my-s2-l2a-cogs.json
zealot_wip.csv
,lastname,firstname,zealot_score,engagement_level
0,Amador, Jacob D,null,null
1,Anthony, Michelle (Contractor) L,null,null
2,Arab, Saeed,null,null
3,Austin, Clay (Contractor) G,null,null
4,Ballu, Anudeep (Contractor),null,null
5,Barnes, Christopher (Contractor),null,null
6,Benedict, Trenton D,null,null
7,Beverly, Sean D,null,null
8,Beynon, Donelle C,null,null
9,Bhattarai, Krishna (Contractor) P,null,null
10,Boiko, Olena,null,null
11,Bouchard, Michelle (Contractor),null,null
12,Bourget, Paul (Contractor) F,null,null
13,Braa, Pamela (Contractor) MOrganizer,null,null
14,Briden, Jeffrey (Contractor) A,null,null
15,Bunde, Brett (Contractor),null,null
16,Butzer, Tony (Contractor),null,null
17,Callahan, Karin (Contractor) E,null,null
18,Case, Adam (Contractor),null,null
19,Casey, Jacob (Contractor) G,null,null
20,Chow Lin, Wai Hang,null,null
21,Christianson, Austin T,null,null
22,Connot, Joel (Contractor),null,null
23,Connot, Peggy (Contractor) L,null,null
24,Dahal, Devendra (Contractor),null,null
25,Danielson, Patrick (Contractor),null,null
26,Davis, Brian (Contractor) N,null,null
27,Degaga, Erica J,null,null
28,Deis, Julia (Contractor) A,null,null
29,Dittmeier, Ray (Contractor),null,null
30,Dockter, Daryn (Contractor) J,null,null
31,Dornbierer, Jordan (Contractor) M,null,null
32,Doucette, Peter J,null,null
33,Drake, Jason D,null,null
34,Fleck, Luke R,null,null
35,Friedrichs, MacKenzie (Contractor) O,null,null
36,Friesz, Aaron (Contractor) M,null,null
37,Granneman, Brian (Contractor) J,null,null
38,Griebel, Audra J,null,null
39,Guest,,null,null
40,Hartpence, Anya (Contractor),null,null
41,Haselhoff, Marcus G,null,null
42,Healey, Nathan C,null,null
43,Hemphill, Caleb (Contractor) S,null,null
44,Hess, Jeffrey (Contractor) T,null,null
45,Hill, David (Contractor) V,null,null
46,Holen, Cheryl (Contractor) L,null,null
47,Horton, Josephine (Contractor) A,null,null
48,Howard, Danny (Contractor),null,null
49,Hussain, Reza (Contractor) A,null,null
50,Jaton, Douglas (Contractor),null,null
51,Jenkerson, Calli (Contractor),null,null
52,Jeno, Drake (Contractor) A,null,null
53,Kagone, Stefanie (Contractor),null,null
54,Kale, Veeranjaneyulu,null,null
55,Katrenak, Adam C,null,null
56,Khand, Kul Bikram,null,null
57,Kreber, Kimberly J,null,null
58,Krehbiel, Cole (Contractor) P,null,null
59,Kreilick, Heather (Contractor),null,null
60,La Puma, Inga P,null,null
61,LaVergne, John (Contractor) G,null,null
62,Lawson, Jane M,null,null
63,Lissfelt, Deborah (Contractor),null,null
64,Lundberg, Brenda (Contractor),null,null
65,Mainali, Pukar (Contractor),null,null
66,Mcelhone, Maxwell T,null,null
67,Megard, Logan J,null,null
68,Meyer, Debbie (Contractor),null,null
69,Midekisa, Alemayehu A,null,null
70,Moe, Kevin (Contractor) L,null,null
71,Moody, Matthew M,null,null
72,Mueller, Chase W,null,null
73,Munger, Samuel L,null,null
74,Napoli, James (Contractor) M,null,null
75,Natharius, Jeffrey (Contractor) A,null,null
76,Oimoen, Michael (Contractor) J,null,null
77,Opoku, Emmanuel,null,null
78,Owen, Linda (Contractor),null,null
79,Parajuli, Sujan,null,null
80,Parrish, Gabriel E,null,null
81,Pastick, Neal (Contractor) J,null,null
82,Pengra, Bruce (Contractor),null,null
83,Platson, Melisa L,null,null
84,Porter, Lucas (Contractor) J,null,null
85,Propios, Sofronio (Contractor) C,null,null
86,Reker, Ryan (Contractor),null,null
87,Robison, Charles J,null,null
88,Rouze, Gregory S,null,null
89,Savoy, Jacob H,null,null
90,Scaramuzza, Pat (Contractor),null,null
91,Schauer, Matthew (Contractor) P,null,null
92,Schmidt, Gail (Contractor) L,null,null
93,Schoen, Candi (Contractor),null,null
94,Shogib, Md Rakibul Islam,null,null
95,Shrestha, Dinesh,null,null
96,Smail, Tobin (Contractor),null,null
97,Smith, Kelcy (Contractor) L,null,null
98,Sneve, Roger (Contractor),null,null
99,Soluk, Eva L,null,null
100,Sreepathi, Prashanth,null,null
101,Sun, Minxuan,null,null
102,Sunne, Randall (Contractor) H,null,null
103,Taylor, Janis (Contractor),null,null
104,Tolk, Brian (Contractor) L,null,null
105,Van Batavia, Cory (Contractor),null,null
106,Wegner, Melissa (Contractor),null,null
107,Wellington, Danika F,null,null
108,Wika, Steve (Contractor),null,null
109,Wilson, Holly J,null,null
110,Worstell, Bruce (Contractor) B,null,null
111,Young, Claudia (Contractor),null,null
112,Zelenak, Daniel (Contractor) J,null,null
113,morton, Jonathan (Contractor) R,null,null

In [24]:
help (df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'Optional[FilePathOrBuffer]' = None, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'Optional[str]' = None, columns: 'Optional[Sequence[Label]]' = None, header: 'Union[bool_t, List[str]]' = True, index: 'bool_t' = True, index_label: 'Optional[IndexLabel]' = None, mode: 'str' = 'w', encoding: 'Optional[str]' = None, compression: 'CompressionOptions' = 'infer', quoting: 'Optional[int]' = None, quotechar: 'str' = '"', line_terminator: 'Optional[str]' = None, chunksize: 'Optional[int]' = None, date_format: 'Optional[str]' = None, doublequote: 'bool_t' = True, escapechar: 'Optional[str]' = None, decimal: 'str' = '.', errors: 'str' = 'strict', storage_options: 'StorageOptions' = None) -> 'Optional[str]' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a non-binary file object is passed, it should be opened
        with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

        .. versionchanged:: 1.2.0

           Support for binary file objects was introduced.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
        one of the above, other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

        .. versionchanged:: 1.1.0

           Passing compression options as keys in dict is
           supported for compression modes 'gzip' and 'bz2'
           as well as 'zip'.

        .. versionchanged:: 1.2.0

            Compression is supported for binary file objects.

        .. versionchanged:: 1.2.0

            Previous versions forwarded dict entries for 'gzip' to
            `gzip.open` instead of `gzip.GzipFile` which prevented
            setting `mtime`.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

        .. versionadded:: 1.1.0

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc., if using a URL that will
        be parsed by ``fsspec``, e.g., starting "s3://", "gcs://". An error
        will be raised if providing this argument with a non-fsspec URL.
        See the fsspec and backend storage implementation docs for the set of
        allowed keys and values.

        .. versionadded:: 1.2.0

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP